<!-- HEADER -->
<% include ../partials/header %>



<h1>Welcome to OurStory</h1>

<p>
    <a href ="/stories">View all stories</a>
</p>
<p>
    <a href="/stories/create-story">Start a new story!</a>
</p>



<!-- FOOTER -->
<% include ../partials/footer %>
